*{
    margin: 0;
    padding: 0;
}

#player {
    position: absolute;
    width: 70px;
    height: 110px;
    overflow:hidden;
    bottom: 300px;
    z-index: 9999;
    left: 20px;
}
#playerImg{
    position: relative;
    left:-360px;
}
#content{
    width: 1170px;
    margin: auto;
    border: 1px solid black;
    height: 721px;
    overflow: hidden;
}
#world{
    width: 1170px;
    border: 1px solid black;
    position: relative;
    bottom:3345px;
}
#building{
    width: 933px;
    height: 3905px;
    margin: auto;
    border: 1px solid black;
    background-color:#663300;
    position: relative;
    bottom: 0;
}
.roof{
    width: 932px;
    height: 215px;
    border: 1px solid;
    position: relative;
    margin: auto;
}
#route{
    height: 155px;
    border: 1px solid black;
}
.door{
    width: 260px;
    height: 215px;
    margin: auto;
    border: 1px solid black;
    position: relative;
}
#windows{
    width: 140px;
    height: 135px;
    position: absolute;
    border: 1px solid;
    bottom: 32px;
}
.windowSill{
    width: 141px;
    height: 31px;
    border: 1px solid;
    position: absolute;
}
#galya{
    width:100px;
    height: 100px;
    border: 1px solid;
    margin-left: 20px;
    position: absolute;
    background-color:red;
    z-index: 2;
}
#qar{
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: black;
    z-index: 3;

}
.obj{
    width:15px;
    height: 15px;
    border: 1px solid;
    position: absolute;

}