*{
    margin: 0;
    padding: 0;
}
#content{
    width: 85vw;
    height: 98vh;
    margin: auto;
    border: 1px solid black;
}
#world{
    width: 85vw;
    height: 78.4vh;
    border: 1px solid black;
    position: relative;
}
#building{
    width: 72vw;
    height: 78vh;
    margin: auto;
    border: 1px solid black;
    background-color:#663300;
    position: relative;
}
.roof{
    width: 71.8vw;
    height: 27vh;
    border: 1px solid;
    position: relative;
}
.roof1{
    top: 50.8vh;
}
.roof2{
    top: -3.5vh;
}
#route{
    height: 19.5vh;
    border: 1px solid black;
}
.door{
    width: 22vw;
    height: 27vh;
    margin: auto;
    border: 1px solid black;
    position: relative;
}
#windows{
    width: 11.9vw;
    height: 17vh;
    position: absolute;
    border: 1px solid;
    bottom: 3.9vh;
}